
//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: 'Open Sans', 'Oswald', sans-serif;
$title-font-family: 'Oswald', 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-font-size-rem: 1.4rem;
$base-font-color: #000000;
$base-background-color: #fff;
$imagepath : 'images/';
$base-blue-color: #7C98AB;
$base-line-color: #e6e7e8;