html{
	font-size: 62.5%;/*16px = 1.6rem*/
}

body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
	font-family: $base-font-family;
	color: $base-font-color;
	background-color: $base-background-color;
}

.clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}

a{
	color:#fff;
	&:hover,
	&:visited{
		color:#fff;
	}
}